.container {
  width: 360px;
  margin: 24px auto 0;
  // padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  // background-color: lightcyan;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
}

.profile__icon {
}

.profile-name {
}

.profile__text {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 23px;
}

.content {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.footer {
  text-align: center;
}

.homepage {}

